ul[data-tidy-sheet-part="skills-list"] > li[data-tidy-sheet-part="skill-container"][data-key="ath"] { order: 1 !important; }
ul[data-tidy-sheet-part="skills-list"] > li[data-tidy-sheet-part="skill-container"][data-key="acr"] { order: 2 !important; }
ul[data-tidy-sheet-part="skills-list"] > li[data-tidy-sheet-part="skill-container"][data-key="slt"] { order: 3 !important; }
ul[data-tidy-sheet-part="skills-list"] > li[data-tidy-sheet-part="skill-container"][data-key="ste"] { order: 4 !important; }

ul[data-tidy-sheet-part="skills-list"] > li[data-tidy-sheet-part="skill-container"][data-key="arc"] { order: 5 !important; }
ul[data-tidy-sheet-part="skills-list"] > li[data-tidy-sheet-part="skill-container"][data-key="his"] { order: 6 !important; }
ul[data-tidy-sheet-part="skills-list"] > li[data-tidy-sheet-part="skill-container"][data-key="inv"] { order: 7 !important; }
ul[data-tidy-sheet-part="skills-list"] > li[data-tidy-sheet-part="skill-container"][data-key="nat"] { order: 8 !important; }
ul[data-tidy-sheet-part="skills-list"] > li[data-tidy-sheet-part="skill-container"][data-key="rel"] { order: 9 !important; }

ul[data-tidy-sheet-part="skills-list"] > li[data-tidy-sheet-part="skill-container"][data-key="ani"] { order: 10 !important; }
ul[data-tidy-sheet-part="skills-list"] > li[data-tidy-sheet-part="skill-container"][data-key="ins"] { order: 11 !important; }
ul[data-tidy-sheet-part="skills-list"] > li[data-tidy-sheet-part="skill-container"][data-key="med"] { order: 12 !important; }
ul[data-tidy-sheet-part="skills-list"] > li[data-tidy-sheet-part="skill-container"][data-key="prc"] { order: 13 !important; }
ul[data-tidy-sheet-part="skills-list"] > li[data-tidy-sheet-part="skill-container"][data-key="sur"] { order: 14 !important; }

ul[data-tidy-sheet-part="skills-list"] > li[data-tidy-sheet-part="skill-container"][data-key="dec"] { order: 15 !important; }
ul[data-tidy-sheet-part="skills-list"] > li[data-tidy-sheet-part="skill-container"][data-key="itm"] { order: 16 !important; }
ul[data-tidy-sheet-part="skills-list"] > li[data-tidy-sheet-part="skill-container"][data-key="prf"] { order: 17 !important; }
ul[data-tidy-sheet-part="skills-list"] > li[data-tidy-sheet-part="skill-container"][data-key="per"] { order: 18 !important; }